<mat-toolbar color="primary">
  Rose Routing
  <span fxFlex></span>
  <a mat-button [routerLink]="['/home']" routerLinkActive="active">
    <mat-icon>home</mat-icon>
  </a>
  <a id="moench-btn" mat-button [matMenuTriggerFor]="moenchMenu"> Moench </a>
  <mat-menu [overlapTrigger]="false" #moenchMenu="matMenu">
    <button mat-menu-item [routerLink]="['/moench', '200']"
            routerLinkActive="active">200</button>
                <button mat-menu-item [routerLink]="['/moench', '100']"
            routerLinkActive="active">100</button>
                <button mat-menu-item [routerLink]="['/moench', 'L100']"
            routerLinkActive="active">L100</button>
                <button mat-menu-item [routerLink]="['/moench', 'L200']"
            routerLinkActive="active">L200</button>

  </mat-menu>
  <a mat-button [routerLink]="['/signin']" routerLinkActive="active">Sign In</a>
</mat-toolbar>

<mat-card>
  <router-outlet></router-outlet>
</mat-card>
